---
import Bubble from "../../components/Bubble.astro";

import "@styles/markdown.css";
---

<div class="mt-4 mb-5 px-6 sm:w-[620px] lg:w-[800px]">
  <div class="markdown">
    <slot />
  </div>
  <Bubble
    isButton={true}
    link="https://buy.stripe.com/8wM046gem3A46AgaEF"
    outerClass="var-2 mt-5 mx-auto w-72 flex justify-center p-3"
  >
    <span class="text-lg font-bold"> Grab Your Tickets Here! </span>
  </Bubble>
</div>
