---
import Header from "../../components/Header.astro";
import Fonts from "../../components/util/Fonts.astro";
import Footer from "../../components/Footer.astro";

import "../../styles/global.css";

const posts = await Astro.glob("./*.md");

console.log(posts[0].frontmatter.title);
---

<html>
  <head>
    <title>Uottawa Improv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Fonts />
  </head>

  <body>
    <header class="fixed w-screen z-10">
      <Header />
    </header>
    <div class="flex flex-col min-h-screen">
      <div
        class="flex flex-row justify-center items-center
          w-full px-10 pt-24 pb-10
          big-bg"
      >
        <h1 class="bowlby-one-regular text-3xl animate-loadIn">Announcments</h1>
      </div>
    </div>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
