---
import Header from "../components/Header.astro";
import Fonts from "../components/util/Fonts.astro";

import { Icon } from "astro-icon/components";

import "../styles/global.css";
---

<html>
  <head>
    <title>Uottawa Improv</title>
    <Fonts />
  </head>

  <body>
    <header class="fixed w-screen z-10">
      <Header />
    </header>
    <div
      class="full-screen-container
        flex flex-row justify-center items-center
        w-full h-screen
        big-bg"
    >
      <div class="basis-1/2 flex justify-center">
        <div class="title bowlby-one-regular">
          <h1 class="top">The uOttawa English</h1>
          <h1 class="bottom">Improv</h1>
          <h1 class="bottom">Club</h1>
        </div>
      </div>

      <div class="basis-1/2 flex justify-center font-normal">
        <div class="links p-3 border-solid rounded-lg bg-slate-50">
          <h1 class="text-xl">Our Socials!</h1>
          <a href="https://www.facebook.com/uottawaimprov" class="text-lg">
            <Icon name="ic:baseline-discord" />
            <p>Discord</p>
          </a>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <div>
        <h2 class="h-2">What is Improv?</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a
          pulvinar tortor. Donec ut rhoncus dolor. Quisque scelerisque turpis
          nisl, in posuere dui placerat eget. Integer libero ligula, consequat
          eu pharetra quis, bibendum vel massa.
        </p>
      </div>
    </div>

    <style>
      .full-screen-container {
        padding-left: 15vw;
        padding-right: 15vw;
      }

      .title {
        margin-right: 3rem;
        margin-left: 1.5rem;

        h1 {
          margin-bottom: 0;
          line-height: 1;
          word-spacing: 100vw;
        }

        h1.top {
          font-size: 10vw;
        }
        h1.bottom {
          font-size: 21vw;
          text-align: right;
        }
      }

      @media only screen and (min-width: 600px) {
        .title {
          transform: rotate(-6deg);
          position: relative;
          z-index: 1;
          width: 26rem;

          h1 {
            margin-bottom: 0;
            line-height: 1;
          }

          h1.top {
            font-size: 3.5rem;
          }
          h1.bottom {
            font-size: 6.5rem;
          }
        }
      }

      .big-bg {
        background: rgb(249, 159, 69);
        background: linear-gradient(
          45deg,
          rgba(249, 159, 69, 1) 0%,
          rgba(94, 238, 118, 1) 50%,
          rgba(62, 228, 255, 1) 100%
        );
      }
    </style>
  </body>
</html>
