---
interface Props {
  outerClass?: string;
  isButton?: boolean;
  link?: string;
}

const { outerClass = "", isButton = false, link = "" } = Astro.props;
---

<div>
  {
    isButton ? (
      <a href={link}>
        <div
          class:list={[
            "rounded-[30px] p-4 transition duration-200 ease-in-out hover:-translate-y-1 shadow-md hover:shadow-lg hover:bg-cyan-50",
            outerClass,
          ]}
        >
          <slot />
        </div>
      </a>
    ) : (
      <div class:list={["rounded-[30px] p-4 shadow-md", outerClass]}>
        <slot />
      </div>
    )
  }
  <style>
    .var-1 {
      border: double 0.5em transparent;
      border-radius: 30px;
      background-origin: border-box;
      background-clip: padding-box, border-box;

      background-image: linear-gradient(white, white),
        linear-gradient(
          135deg,
          rgba(249, 159, 69, 1) 0%,
          rgba(94, 238, 118, 1) 100%
        );
    }

    .var-2 {
      border: double 0.5em transparent;
      border-radius: 30px;
      background-origin: border-box;
      background-clip: padding-box, border-box;

      background-image: linear-gradient(white, white),
        linear-gradient(
          135deg,
          rgba(94, 238, 118, 1) 0%,
          rgba(62, 228, 255, 1) 100%
        );
    }
  </style>
</div>
