<div
  class="flex flex-col sm:flex-row justify-center items-center p-8 bg-gray-600 font-normal text-gray-200 text-center"
>
  <div class="basis-auto shrink-0">
    <p>uOttawa English Improv Club</p>
    <p>2024</p>
  </div>
  <div
    class="w-10 my-2 h-0.5 sm:my-0 sm:mx-10 sm:h-10 sm:w-0.5 bg-slate-200 rounded-full"
  >
  </div>
  <div class="basis-auto shrink-0">
    <p>Made with love with Astro by Reid</p>
    <p>
      Checkout the <a
        href="https://github.com/uOttawaImprov/uoimprov-website"
        class="hover:underline text-blue-400">Github repo</a
      >
    </p>
  </div>
</div>
