---
const headerLinks = [
  { name: "Home", url: "/" },
  { name: "Announcements", url: "/announcements" },
  { name: "FAQ", url: "/faq" },
  { name: "Contact", url: "/contact" },
];
---

<div
  class="flex justify-center w-100 pt-3 pb-2 text-lg font-medium bg-slate-50/90"
>
  {
    headerLinks.map(({ name, url }) => (
      <a
        class="py-2 px-4 cursor-pointer rounded-lg
        transition duration-200 ease-in-out hover:-translate-y-1 hover:shadow-lg hover:bg-slate-50/100"
        href={url}
      >
        <h3 class="text-black opacity-100">{name}</h3>
      </a>
    ))
  }
</div>
