---
import { Icon } from "astro-icon/components";

const { text, link, icon, bodyClass, iconClass } = Astro.props;
---

<a
  href={link}
  class:list={[
    "text-lg flex flex-row items-center boarder-solid border-2 py-2 px-6 rounded-lg",
    "transition duration-200 ease-in-out hover:-translate-y-1 hover:shadow-lg",
    bodyClass,
  ]}
>
  <Icon size={40} name={icon} class:list={["mr-6", iconClass]} />
  <p>{text}</p>
</a>
