---
import Default from "../../layouts/Default.astro";
import Title from "../../layouts/Title.astro";
import Bubble from "../../components/Bubble.astro";

import "../../styles/global.css";
---

<Default pageTitle="uOImprov | Announcments">
  <Title>
    <h1 class="bowlby-one-regular text-3xl animate-loadIn">Faq</h1>
  </Title>
</Default>
